@mixin fat_frank {
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    font-style: normal;  
}

@mixin facit_font {
    font-family: jaf-facitweb, sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    /* avoiding stairstep lines that mess up the UI, always use!! */
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
  }

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    width: 0;
}


// HEADER STYLING 
header{
    background-color: black;
    height: 92px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
}

#logo_container{
    position: absolute;
    width: 350px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    z-index: 7;
}

#logo_icon{
    margin-top: -6%;
    height: 100px;
}

#logo_svg{
    margin-left: 10%;
    margin-top: -5%;
    height: 50px;
    opacity: 1;
}

#right_side_header{
    position: absolute;
    top: 0%;
    height: 100%;
    right: 0%;
    background-color: #00BBC9;
    width: 20%;
    border-left: solid 4px white;
    text-align: center;
    z-index: 5;
}


// SEARCH FUNCTIONALITY 
#container_search{
    position: absolute;
    top: 0%;
    height: 100%;
    right: 2%;
    background-color: transparent;
    width: 15%;
    text-align: center;
    z-index: 9;
}

#looking_glass{
    position: absolute;
    right: 50%;
    transform: translateX(+50%);
    margin-top: 15px;
    height: 75px;
    z-index: 2;
}

#search_bar{
    position: absolute;
    top: 13px;
    right: 26%;
    width: 0px;
    height: 53px;
    border-radius: 50px;
    border: solid black 1px;
    color: rgb(0, 0, 0);
    z-index: 1;
    font-size: 20px;
    text-align: center;
    @include fat_frank();
}

#search_bar:focus::placeholder{
    color: white;
}

#search_underlayer_div{
    width: 100%;
    height: 100%;
    background-color: #00BBC9;
    z-index: 8;
    position: absolute;
    top: 0;
    opacity: 0;
}



// BODY STYLING 
#right_side_body{
    position: fixed;
    z-index: 4;
    right: 0%;
    background-image: linear-gradient(#00BBC9, #8ABFC3);
    width: 20%;
    height: 100%;  
    border-left: solid 4px white;  
}

// ERROR SCREEN 
#oepsie_text{
    position: absolute;
    @include fat_frank();  
    left: 50%;
    top: 180px;
    width: 90%;
    transform: translateX(-50%);
    color: white;
    font-size: 50px;
    opacity: 0;
    text-align: center;
}

#apel_text{
    position: absolute;
    @include fat_frank();  
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    top: 275px;
    color: white;
    font-size: 30px;
    opacity: 0;
    text-align: center;
}

#error_detail{
    position: absolute;
    @include fat_frank();
    width: 70%;   
    left: 50%;
    transform: translateX(-50%);
    top: 330px;
    color: white;
    font-size: 30px;
    opacity: 0;    
    text-align: center;
}

#opnieuw_button{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #00BBC9;
    left: 50%;
    top: 420px;
    transform: translateX(-50%);
    @include fat_frank(); 
    font-size: 30px;
    opacity: 0;
    text-align: center;
}







// PROJECT STYLING 
.container_project{
    width: 100vw;
    height: 60vw;
}

.container_elements{
    position: absolute;
    width: 80vw;
    height: 40vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
}

.main_picture{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
}

.sliver_project{
    position: absolute;
    bottom: 0%;
    width: 99.5%;
    left: 50%;
    transform: translateX(-50%);
    height: 25%;
    background-color: black;
    z-index: 5;    
    text-align: center;  
    border: solid white 1px;
    opacity: 1;
}

.title_project{
    position: absolute;
    color: white;
    @include fat_frank();
    font-size: 18px;  
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
}

.cover_project{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}


.flex-container{
    position: absolute;
    top: 170px;
    left: 0%;
    height: 50vw;
    display: flex;
    flex-flow: row wrap;
    z-index: 5;
    align-items: center;
}

#bottom_pane{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: #8ABFC3;
    border-bottom: solid white 4px;
}

#botpane_txtcont{
    position: absolute;
    top: 0%;
    left: 35%;
    text-align: center;
    @include fat_frank();
    font-size: 10px;    
}

#loadmore_projects{
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    width: 450px;
    height: 70px;
    background-color: #00BBC9;
}

#loadmore_text{
    @include fat_frank();
    font-size: 30px;     
    margin-top: 15px;
}


